/*
    Footer stylesheets for the PokIndex Application
    @author jhotiori
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-block: 3rem;
    width: 100%;

    background: var(--bg-1);
    border-top: 2px solid var(--border-1);
}

footer > #title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--text-2);
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
}

footer > #subtitle {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-3);
    margin-bottom: 1rem;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
}

footer > #redirects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

footer > #redirects > a {
    white-space: normal;
    overflow-wrap: break-word;
}

@media (max-width: 476px) {
    footer {
        padding-block: 0rem;
    }

    footer > #title {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    footer > #subtitle {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    }

    footer > #redirects {
        flex-direction: column;
    }
}
