/*
    ~ search.css
    Stylesheets for the Search Layout
    @author jhotiori
*/

main #search {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	flex: 0 1 auto;
	height: 5vh;
	width: 100%;
	gap: 1rem;
}

main #search #bar {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	height: 100%;
	width: 50%;

	padding: 0 0.75rem;
	gap: 0.5rem;

	background-color: var(--bg-2);
	border: 2px solid var(--br-2);
	border-radius: 1rem;

	transition: border-color var(--transition-m);
	will-change: color;
}

main #search #bar #icon {
	font-size: var(--font-size-s);
	color: var(--text-3);

	transition: color var(--transition-m);
	will-change: color;
}

main #search #bar #input {
	font-size: var(--font-size-s);
	font-weight: var(--weight-bold);
	color: var(--text-1);
	height: 100%;
	width: 95%;
}

main #search #filters {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	height: 100%;
	width: 20%;
	gap: 0.5rem;
}

main #search #filters .filters__group {
	position: relative;
}

main #search #filters .filters__group .dropdown__button {
	font-family: var(--font-sans);
	font-weight: var(--weight-medium);

	background-color: var(--bg-2);
	border: 1px solid var(--br-2);
	color: var(--text-3);

	border-radius: 0.5rem;
	padding: 0.5rem 1rem;

	transition: border-color var(--transition-m), color var(--transition-m);
	will-change: border-color, color;
}

main #search #filters .filters__group .dropdown__menu {
	display: flex;
	flex-direction: column;
	position: absolute;

	min-width: 100%;
	z-index: 99;

	background-color: var(--bg-2);
	border: 1px solid var(--br-2);
	top: calc(100% + 0.5em);

	border-radius: 0.5rem;
	padding: 0.5rem;
	gap: 1rem;
}

main #search #filters .filters__group .dropdown__menu .dropdown__option {
	font-family: var(--font-sans);
	font-weight: var(--weight-medium);
	font-size: var(--font-size-s);
	color: var(--text-3);
	cursor: pointer;

	transition: color var(--transition-m);
	will-change: color;
}

main #search #bar:focus-within {
	border-color: var(--text-4);
}

main #search #bar:focus-within #icon {
	color: var(--text-2);
}

main #search #filters .filters__group .dropdown__button:hover {
	border-color: var(--br-2);
	color: var(--text-2);
}

main #search #filters .filters__group .dropdown__menu .dropdown__option:hover {
	color: var(--text-2);
}

@media (max-width: 560px) {
	main #search {
		flex-direction: column;
		height: auto;
	}

	main #search #bar {
		height: 100%;
		width: 100%;
	}

	main #search #filters {
		height: 100%;
		width: 100%;
	}
}
