/*
    ~ sidebar.css
    Stylesheets for the Sidebar Layout
    @author jhotiori
*/

#sidebar {
	position: fixed;
	pointer-events: none;

	z-index: 99999999;
	inset: 0;
}

#sidebar #sidebar__overlay {
	position: absolute;

	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(0.25rem);

	opacity: 0;
	inset: 0;

	transition: opacity var(--transition-s);
	will-change: opacity;
}

#sidebar #sidebar__content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;

	height: 100vh;
	width: 50vw;

	opacity: 0;
	top: 0;
	right: 0;

	background: linear-gradient(var(--bg-1), var(--bg-2));
	border-left: 2px solid var(--br-3);
	border-radius: 1rem 0 0 1rem;

	padding: 1rem;
	gap: 1rem;

	transform: translateX(100%);
	transition:
		transform var(--transition-s),
		opacity var(--transition-s);
	will-change: transform, opacity;
}

#sidebar.open {
	pointer-events: all;
}

#sidebar.open #sidebar__overlay {
	opacity: 1;
}

#sidebar.open #sidebar__content {
	opacity: 1;
	transform: translateX(0);
}

#sidebar #sidebar__content #close {
	font-size: var(--font-size-sxx);
	color: var(--text-3);
	cursor: pointer;

	transition: color var(--transition-m);
	will-change: color;
}

#sidebar #sidebar__content #close:hover {
	color: var(--text-1);
}

#sidebar #sidebar__content #hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	gap: 3rem;
	flex: 1;
}

#sidebar #sidebar__content #hero #sprite {
	image-rendering: pixelated;
	object-fit: contain;

	max-height: 30%;
	width: 100%;
}

#sidebar #sidebar__content #hero #details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;

	width: 100%;
	gap: 1rem;
	flex: 1;
}

#sidebar #sidebar__content #hero #details #name {
	font-family: var(--font-brand);
	font-weight: var(--weight-bold);
	font-style: italic;
	font-size: var(--font-size-l);
	color: var(--text-1);
}

#sidebar #sidebar__content #hero #details #types {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}

#sidebar #sidebar__content #hero #details #types p {
	font-family: var(--font-sans);
	font-weight: var(--weight-bold);
	background-color: var(--bg-3);
	color: var(--text-2);

	padding: 0.25rem 1rem;
	border-radius: 0.5rem;
}

#sidebar #sidebar__content #hero #details #box {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;

	height: 70%;
	max-height: 100%;
	width: 100%;
	padding: 1rem;
	gap: 1rem;

	border: 2px solid var(--br-4);
	border-radius: 1rem;
}

#sidebar #sidebar__content #hero #details #box #stats {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	height: 100%;
	width: 100%;
}

#sidebar #sidebar__content #hero #details #box #stats li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	line-height: 250%;
}

#sidebar #sidebar__content #hero #details #box #stats li #left {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

#sidebar #sidebar__content #hero #details #box #stats li #left #icon {
	font-size: var(--font-size-s);
	color: var(--text-3);
}

#sidebar #sidebar__content #hero #details #box #stats li #left #label {
	font-family: var(--font-sans);
	font-weight: var(--weight-medium);
	font-size: var(--font-size-sx);
	color: var(--text-3);
}

#sidebar #sidebar__content #hero #details #box #stats li #value {
	font-family: var(--font-sans);
	font-weight: var(--weight-bold);
	font-size: var(--font-size-s);
	color: var(--text-2);
}

#sidebar #sidebar__content #hero #details #box #evolutions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
	padding: 1rem;
}

#sidebar #sidebar__content #hero #details #box #evolutions img {
	image-rendering: pixelated;
	object-fit: contain;
	max-height: 100%;
}

#sidebar #sidebar__content #hero #details #box #evolutions i {
	font-size: var(--font-size-m);
	color: var(--text-2);
}

@media (max-width: 560px) {
	#sidebar #sidebar__content {
		height: 50vh;
		width: 100vw;
		bottom: 0;
		top: auto;
		right: 0;

		transform: translateY(100%);
		border-top: 2px solid var(--br-4);
		border-left: none;
		border-radius: 1rem 1rem 0 0;
	}

	#sidebar.open #sidebar__content {
		opacity: 1;
		transform: translateY(0);
	}
}
